<footer class="ui inverted vertical footer segment" id="mainFooter">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">About Us</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Careers</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">For Restaurants</a>
            <a href="#" class="item">For Customers</a>
            <a href="#" class="item">FAQ</a>
            <a href="#" class="item">Review Us</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">About Yummi</h4>
          <p>We are the premier food ordering app available on the market.</p>
        </div>
      </div>
    </div>
  </footer>
