<nav>
<div class="ui secondary pointing menu">
    <a class="item">
        Project Takeout
    </a>
    <div class="right menu">

        <a class="item active restaurants-link">
            Restaurants
          </a>
          <a class="item" id="order-progress">
            Order Progress
          </a>
      <a class="ui item">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <a class="ui item">
        Username
        </a>
      <a class="ui item">
        Logout
      </a>
    </div>
    </div>
</div>

</nav>
