<nav class="ui inverted vertical masthead center aligned segment">
  <div class="ui large secondary inverted pointing menu">
    <a class="item" id="logo">
      Project Takeout
    </a>
    <div class="right menu" id='right-menu'>
      <a class="active item restaurants-link" >Restaurants</a>
      <a class="item" id="order-progress">Orders</a>
      <div class="right item">
        <a class="ui inverted button" id="login" href="/login">Log in</a>
        <a class="ui inverted button" id="signup" href="/Sign Up">Sign Up</a>
      </div>
    </div>
  </div>
</nav>
