<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <!--ALL SCRIPTS-->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/renderLandingPage.js"></script>
    <script type="text/javascript" src="/scripts/renderRestaurantsPage.js"></script>
    <script type="text/javascript" src="/scripts/renderMenuItems.js"></script>
    <script type="text/javascript" src="/scripts/renderClientsLandingPage.js"></script>
    <script type="text/javascript" src="/scripts/renderClientsOrdersPage.js"></script>
    <script type="text/javascript" src="/scripts/ordersDropdown.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/scripts/yummiCharts.js"></script>
  </head>


  <body>
    <div class="ui warning message" id='warningMessage'>
      <i class="close icon"></i>
    <div class="header">
      You must register before you can do that!
    </div>
      Visit our registration page, then try again
    </div>

    <% include partials/navbar.ejs %>
    <div id='rootContainer'>
    </div>

    <div class="ui basic modal" id='loginModal'>
        <h2 class='loginHeader'>Please Enter Your Login Information</h2>
        <form action="/users/login" method="POST" id="mainLoginForm">
          <input type="text" name='email' placeholder='email'>
          <input type="password" name='password' placeholder='password'>
          <button>Submit</button>
          <span class='exitL'>EXIT</span>
        </form>
      </div>

      <div class="ui basic modal" id='registerModal'>
          <h2 class='loginHeader'>Please Enter Your Personal Information</h2>
          <form action="/users" method="POST" id="mainRegisterForm">
            <input type="text" name='name' placeholder='name'>
            <input type="text" name='email' placeholder='email'>
            <input type="text" name='phone' placeholder='phone'>
            <input type="password" name='password' placeholder='password'>
            <button>Submit</button>
            <span class='exitR'>EXIT</span>
          </form>
      </div>

      <div class="ui modal" id='orderHistoryModal'>
          <i class="close icon"></i>
          <div class="header">
            Your Previous Orders
            <div class="ui positive button" id='orderHistoryExit1'>
                Yummi Stats
              </div>
          </div>
          <div class="content" id='contentContainer'>
            <div class="ui medium content scrolling" id='listOfOrders'>
            </div>
            <div class="description content scrolling" id='singleOrderDetails'>
            </div>
          </div>
          <div class="actions">
            <div class="ui positive button" id='orderHistoryExit'>
              EXIT
            </div>
          </div>


    <!-- <% include partials/footer.ejs %> -->
  </body>
</html>
