.cartPopup {
  height: 35px;
  width: 250px;
  position: fixed;
  bottom: 10px;
  right: 25px;
  background-color: blue;
  color: white;
  text-align: center;
}

.cartPopup > p {
  padding: 10px;
}

.cartDetails {
  height: 250px;
  width: 250px;
  position: fixed;
  bottom: 45px;
  right: 25px;
  background-color: blue;
  display: none;
  overflow: auto;
}

.cartDetails p {
  color: grey;
  font-size: 10px;
}

.showCart {
  display: inline-block;
}

.cartDetailsTitle {
  color: white;
  text-align: center;
}
