#clientsLanding {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-repeat:no-repeat;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-text {
  background-color:  #f0e9f5;
  font-size: 5em;
  border-radius: 5px;
}

#landingInstructions {
  height: 60vh;
  width: 100%;
  background: #1b1c1d;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

#landingRestaurants {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding: 60px 0px;
}

.image {
  height: 192px;
  width: 290px;
  overflow: hidden;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
}

img {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
