#loginModal {
  padding-top: 30%;
  text-align: center;
}

#mainRegisterForm > * {
  display: block;
  margin: 0 auto 1em auto;
}

#registerModal {
  text-align: center;
}

#mainRegisterForm {
  text-align: center;
}
