#loginModal {
  text-align: center;
}

#mainRegisterForm > * {
  display: block;
  margin: 0 auto 1em auto;
}

#registerModal {
  text-align: center;
}

#mainRegisterForm {
  text-align: center;
}

#mainLoginForm > * {
  display: block;
  margin: 0 auto 1em auto;
}

.exitR, .exitL {
  border: 2px solid white;
  padding: 10px;
  width: 50px;
}

.exitR:hover, .exitL:hover {
  border: 2px solid white;
  background-color: white;
  color: black;
  cursor: pointer;
}


