.menuItemDescription {
  display: inline-block;
  position: relative;
  height: 100%;
}

.menuItemDescription > h3 {
  position: absolute;
  bottom:0;
  left:0;
}

.menuItemImage {
  width: 150px;
  height: 150px;
  background-size: cover;
  float: right;
  border-radius: 10px;
  margin-bottom: 5px;
}

.menuItemsCategory {
  // margin-bottom:  3em;
}

.menuItemsCategory > h1 {
  border-bottom: 1.5px dotted black;
  margin-bottom: 1.5em;
  padding: .5em 0;
}

.singleMenuItem {
  height: 165px;
  margin-bottom: 3em;
  border-bottom: 1px solid darkgray;
  padding: 10px;
}

.singleMenuItem:hover {
  cursor: pointer;
  background-color: azure;
  border-radius: 10px;
}

.leftSideBar {
  display: inline-block;
  position: fixed;
  height: 100vh;
  width: 25%;
  padding-bottom: 140px;
}

.restImage {
  height: 55%;
  background-position: left;
}

.menuItems {
  margin-left: 30%;
  margin-right: 10%;
  display: inline-block;
  min-width: 50%;
}

.restInfo {
  text-align: right;
  padding-top: 2em;
}

#rightSideBar {
 padding-top: 150px;
 position: fixed;
 top: 0;
 right: 0;
 width: 15%;
}

#rightSideBar h2:hover {
text-shadow: 6px 12px 0px rgba(0,0,0,0.1);
border-bottom: 1px solid black;
cursor: pointer;
}

