#order-progress {
  margin-right: 100px;
}

#logo {
  font-size: 24px;
}
#right-menu {
  align-items: center;


}

#login {
  margin-right: 20px;
}

#logout {
  display: none;
}

#mainNavBar {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 55;
  margin-bottom: 120px;
}

// .ui.modal:not(.compact) {
//   width: calc(50% - 50px) !important;
//   margin-left: 25px !important;
//   height: calc(35% - 50px) !important;
//   margin-top: -25px !important;
//   }









