#logo {
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  display: inline-block;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}

#logo:hover {
  cursor: pointer;
  color: white;
}

#right-menu {
  align-items: center;
}

#login {
  margin-right: 20px;
}

#logout {
  display: none;
}

#mainNavBar {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 55;
  margin-bottom: 120px;
}

#warningMessage {
  z-index: -50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#invalidInputMessage {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 93.5vw;
  margin-left: 6.5vw;
}

.hidden {
  display: none;
}

// .ui.modal:not(.compact) {
//   width: calc(50% - 50px) !important;
//   margin-left: 25px !important;
//   height: calc(35% - 50px) !important;
//   margin-top: -25px !important;
//   }










