.ui.status-completed {
  background-color: #7c7c7c;
}

.ui.status-submitted {
  background-color:  #fc8888;
}

.ui.status-confirmed {
  background-color: #88ff88;
}

.ui.raised.segment {
  margin-bottom: 2.5vh;
  border-radius: 5px;
}

.ui.raised.segment:hover {
  box-shadow: 20px 20px 20px -5px rgba(0,0,0,0.75);
  transform: scale(1.02);
  border-radius: 5px;
  cursor: pointer;
}

#order-card {
  height: 20vh;
  margin-left: 5vh;
}

#order-card-wrap {
  max-width: 550px !important;
  margin-left: 2.5vh;
}

.maincontainer {
  display: flex;
  justify-content: space-around;
}

.leftcontainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
  will-change: overflow;
  margin-left: 5%;
  width: 42%;
  overflow: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.rightcontainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
  will-change: overflow;
  width: 50%;
  right: 0;
  overflow: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}


.background-color {
background-color:  #f0e9f5;
}

.status {
  text-transform: capitalize;
}

