.ui.status-completed {
  background-color: #7c7c7c
}

.ui.status-submitted {
  background-color:  #fc8888
}

.ui.status-confirmed {
  background-color: #88ff88
}

#order-card {
  height: 25vh;
  margin-left: 5vh;
}

.maincontainer {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  margin-top: -100px;
  padding-top: 100px;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.left {
  margin-left: 5%;
  width: 40%;
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.right {
  right: 0;
  width: 50%;
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}


.background-color {
background-color:  #f0e9f5;
}

